body{

	font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;

}
tr:nth-child(2n-1) td{

	padding-top: 7px;

}
tr:nth-child(2n) td{
	padding: 7px 15px 0 0;
}

.error{
	border: solid 2px #F44336;
}

#regtitle{
	font-size: 44px;
	font-weight: 400;
}
#regheader{
	margin: 55px 0px 15px 0px;
	text-align: center;
}
#regcontent{
	margin: auto;
}
#regcontent{
	font-size: 14px;
}
#regbot{
	text-align: center;
}
.errortext{
	max-width: 170px;
	color: #F44336;
	font-size: 12px;
	margin: 2px 0 2px 0;
}
/*%============================================GLOBAL========================================================================================%*/
section.registration_content {
    float: none !important;
    margin: auto;
}
ul.registration_list {
    list-style-type: none;
    margin: 0;
}
.userinfo, .country-select, .intl-tel-input {
    width: 100%;
}
.terms_condit, .register_btn_box {
    text-align: center;
}
.register_btn_box {
    padding-bottom: 25px;
}
ul.registration_list li {
    margin-bottom: 7px;
}
.registration_box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
input#acceptedterms {
    margin-right: 10px;
}
button#create {
    color: #fff;
}
.userinfo {
    margin-bottom: 0 !important;
}